@page "/ToDoList"
@using Lab9_ToDoList.Models
@rendermode InteractiveServer

<!--3. Create To-Do List Component-->
<PageTitle>To Do List</PageTitle>

<!--heading tag-->
<h1>To-Do List</h1>

<!--Title, input field to add items to list-->
<strong>Title: </strong> <InputText @bind-Value="title"/>

<!--Button to add items to list-->
<button @onclick="AddItem" type="button">Add item to list</button>

<!--List to display To Do items-->
<ul>
    @foreach(ToDoItem item in items)
    {
        Console.WriteLine("AddItem method triggered");

        <li>@item.Title</li>
        <!--Bind IsCompleted-->
        <InputCheckbox @bind-Value="item.IsCompleted"/>
    }
</ul>


@code {
    private string title;
    private bool done;

    //List variable. Holds collection of to-do items
    List<ToDoItem> items = new();

    private void AddItem()
    {
        ToDoItem item = new ToDoItem();

        done = !done;

        item.Title = title;
        item.IsCompleted = done;

        items.Add(item);
    }
}
